#commodore {
    height: 850px;
    width: 900px;
    display: block;
    margin: 0px auto;
    padding: 15px;
    background-color: #A39994;

    #firstBorder {
        width: 870px;
        height: 770px;
        background-color: #66656B;
        display: block;
        padding: 15px;
        border-radius: 10px;

        #secondBorder {
            width: 840px;
            height: 740px;
            background-color: #3D3B3E;
            display: block;
            padding: 20px;
            border-radius: 10px;

            #screen {
                width: 800px;
                height: 700px;
                background-color: #858F8F;
                border-radius: 10px;

                #canvas {
                    width: 800px;
                    height: 700px;
                    border-radius: 10px;
                }
            }
        }
    }

    #logo {
        display: block;
        margin: 0 auto;
        height: 65px;
    }
}